
<div class="main" main>
	<div class="box">
	<p class="title"> <%= @movie_search["Title"] %></p>
	<p class="year">YEAR: <%= @movie_search["Year"] %> </p>
	<p class="duration">DURATION: <%= @movie_search["Runtime"] %></p>
	<p class="genre">GENRE: <%= @movie_search["Genre"] %></p>
	<p class="director">DIRECTOR: <%= @movie_search["Director"] %></p>
</div>
<div class="poster">
	<img  class="foto" src="<%= @movie_search["Poster"] %>">
</div>
</div>